<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Zoom clone</title>
  </head>
  <body>
    <div class="container">
      <div class="meeting">
        <div class="form">
          <form action="/link" method="get">
            <button type="submit" id="generate" class="join-link">
              generate meeting
            </button>
          </form>
          <div class="join-form">
            <button type="submit" onclick="handlesubmit()" class="join-link">
              join link
            </button>
            <input type="text" id="input-link" class="meeting-link" required />
          </div>
        </div>
      </div>
      <div class="logo">
        <div class="logo-div">
          <img src="logo.jpg" alt="" class="logo-img" />
        </div>
      </div>
    </div>
    <script src="index.js"></script>
  </body>
</html>
