<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video</title>
    <link rel="stylesheet" href="videostyle.css" />
    <script>
      const Room = '<%=roomid%>'
    </script>
    <script
      src="https://kit.fontawesome.com/a6a459b372.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container">
      <div class="videoss">
        <div id="join" class="joined"></div>
        <div id="video-grid"></div>
        <div class="btn-bar">
          <div id="video" class="video-btn" onclick="video_on_off()">
            <i class="fa-solid fa-video fsize" style="font-size: 24px"></i>
          </div>
          <div id="audio" class="microphone-btn" onclick="mute_on_off()">
            <i class="fa-solid fa-microphone fsize" style="font-size: 24px"></i>
          </div>
          <div class="middle-btn">
            <div class="sheild">
              <i
                class="fa-solid fa-shield-halved fsize"
                style="font-size: 24px"
              ></i>
            </div>

            <div id="message" class="comment">
              <i class="fas fa-comment-alt fsize" style="font-size: 24px"></i>
            </div>

            <div class="users">
              <i class="fas fa-user-friends fsize" style="font-size: 24px"
                ><sup
                  id="total"
                  style="font-size: 15px; color: white; margin-left: 2px"
                  >0</sup
                ></i
              >
            </div>
            <div id="end" class="endcall">
              <i class="fas fa-phone-slash fsize" style="font-size: 24px"></i>
            </div>
          </div>

          <div id="invite" class="invite-btn">
            <i class="fa-solid fa-user-plus fsize" style="font-size: 24px"></i>
          </div>
        </div>
      </div>

      <div id="chattt" class="chat">
        <div id="cross">
          <i class="fa-solid fa-circle-xmark fsize" style="font-size: 28px"></i>
        </div>
        <div id="chat-div">
          <div class="message-container">
            <input type="text" id="chat-message" />
          </div>
        </div>

        <div id="submit">
          <i class="fa-solid fa-circle-arrow-right fa-2x"></i>
        </div>
      </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="script.js"></script>
  </body>
</html>
